<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rtsoju.mongle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rtsoju.mongle.Mongle"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mongle"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name="com.rtsoju.mongle.presentation.view.starting.StartingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mongle.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.rtsoju.mongle.domain.service.MongleFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.rtsoju.mongle.presentation.view.setname.SetNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.diary.EditDiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.messages.EmotionMessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.daydetail.DayDetailActivity"
            android:exported="false"
            android:parentActivityName="com.rtsoju.mongle.presentation.view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.kakaoexport.KakaoExportActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rtsoju.mongle.presentation.view.tutorial.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.debug.view.MainTestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.debug.view.ViewTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.debug.view.ApiTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.password.PasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.agree.AgreeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rtsoju.mongle.presentation.view.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>