<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.won983212.mongle">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mongle"
        tools:targetApi="31">
        <activity
            android:name=".tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:theme="@style/Theme.Mongle.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AgreeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>